on:
  push:

name: ci
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
          package-manager-cache: false
      - name: enable corepack
        run: corepack enable
      - name: yarn set v4
        run: yarn set version stable
      - name: yarn install
        run: yarn install
      - name: Run check
        run: yarn check
